/*RESET*/

html {
  font-size: 50%;
}

/*BODY*/

* {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
  line-height: 4rem;
}

/*HEADER AND FOOTER BACKGROUND*/

header,
footer {
  background-color: #fcbcb2;
}

/*NAV*/

.logo {
  max-width: 15rem;
}
.nav-item:hover,
.nav-item:focus {
  background-color: #ff9191;
  border-radius: 0.5rem;
}
.navbar-toggler {
  width: 5rem;
  height: 5rem;
}

/*TEXT FORMAT*/

.title {
  font-family: "Cinzel", sans-serif;
}
.title--mainTitle {
  font-size: 4rem;
}
.title--subTitle1 {
  font-size: 3rem;
}
.title--subTitle2 {
  font-size: 2rem;
}

/*BUTTONS*/

.button {
  transition: all 0.1s;
}
.button:hover,
.button:active {
  transform: scale(1.1);
}
.button--greenSubmitButton {
  background-color: greenyellow;
}
.button--pinkResetButton {
  background-color: #fcbcb2;
}

/*ANIMATIONS*/

.col--animatedLeft {
  animation: from-left 1.5s ease;
}
.col--animatedRight {
  animation: from-right 1.5s ease;
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*MAIN OF INDEX*/

/*Introduction section*/
#introductionSection {
  background-image: url(../images/mujeres_modelando.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Best-selling products section*/
/*Se reutilizará para el html de tienda*/
.product {
  border: rgb(0, 0, 0);
  border-radius: 1.5rem;
  border-width: 0.6rem;
  border-style: dotted;
}
.product__image {
  max-width: 285px;
}

/*FOOTER*/

.footer__icon {
  font-size: 3rem;
  color: #fcbcb2;
}

/*MEDIA QUERYS*/

@media (min-width: 992px) {
  html {
    font-size: 58%;
  }
  /*Shipment information section*/
  #shipmentInformationSection__background {
    background: linear-gradient(
      to right,
      rgb(255, 255, 93),
      rgb(134, 255, 93),
      rgb(93, 255, 185),
      rgb(147, 97, 255),
      rgb(252, 135, 135)
    );
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
