/*RESET*/

html {
  font-size: 50%;
}

/*BOXES*/

section {
  height: fit-content;
}
.container,
.column {
  width: 100%;
}
.row {
  margin-top: 2rem;
}

/*TEXT FORMAT*/

.title {
  font-family: "Cinzel", sans-serif;
  font-weight: normal;
}
.title--blackWhiteAndCenter {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
}
.title--mainTitle {
  font-size: 4rem;
}
.title--subTitle1 {
  font-size: 3rem;
}
.title--subTitle2 {
  font-size: 2rem;
}
.textDescription {
  font-size: 1.8rem;
  font-family: "Dosis", sans-serif;
}
.textDescription--center {
  text-align: center;
}
.list {
  margin-left: 1.5rem;
}

/*IMAGES AND IFRAMES*/

img,
iframe {
  width: 100%;
}

/*BUTTONS*/

.buttonBox {
  display: block;
  text-align: center;
}
.button {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  border-style: none;
  border-radius: 0.5rem;
  margin: 1rem auto 0 auto;
  display: inline-block;
  cursor: pointer;
  transition: all 0.1s;
}
.button:hover,
.button:active {
  transform: scale(1.1);
  color: black;
  background-color: #ff6060;
  font-weight: 500;
}
.button--blackBuyButton {
  color: white;
  background-color: black;
}
.button--greenSubmitButton {
  color: black;
  background-color: greenyellow;
}
.button--pinkResetButton {
  color: black;
  background-color: #fcbcb2;
}

/*ANIMATIONS*/

.column--animatedLeft {
  animation: from-left 1.5s ease;
}
.column--animatedRight {
  animation: from-right 1.5s ease;
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*HEADER AND FOOTER BACKGROUND*/

header,
footer {
  background-color: #fcbcb2;
}

/*NAV*/

.logo {
  max-width: 15rem;
}
.nav-item:hover,
.nav-item:focus {
  background-color: #ff9191;
  border-radius: 0.5rem;
}
.navbar-toggler {
  width: 5rem;
  height: 5rem;
}

/*MAIN*/

main {
  line-height: 4rem;
}

/*MAIN OF INDEX*/

/*Introduction section*/
#introductionSection {
  background-image: url(../images/mujeres_modelando.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#introductionSection__content {
  color: white;
  max-width: max-content;
  text-align: center;
  line-height: 8rem;
  padding: 1rem;
}
#introductionSection__content__link {
  color: white;
  font-size: 1.5rem;
  font-family: "Cinzel", sans-serif;
}

/*Shipment Information Section*/
#shipmentInformationSection__background__text {
  background-color: rgb(23, 19, 19);
  text-transform: uppercase;
  color: white;
  font-family: Cinzel;
  font-size: 2rem;
  padding: 1rem;
}

/*Best-selling products section*/
/*Se reutilizará para el html de tienda*/
.productsBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.product {
  border: rgb(0, 0, 0);
  border-radius: 1.5rem;
  border-width: 0.6rem;
  border-style: dotted;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.product__image {
  max-width: 300px;
}
.product__text {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
}

/*Suscription section*/
/*Se reutilizará para otros formularios*/
.form__text {
  font-family: "Dosis", sans-serif;
  font-size: 1.7rem;
}
.form__input {
  width: 100%;
  border-width: 0.2rem;
  border-color: black;
  border-style: solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/*FOOTER*/

footer {
  padding: 0.5rem 0;
}
.footer__content {
  text-align: center;
  line-height: 4rem;
}
.footer__content__text {
  font-size: 2rem;
  color: black;
  font-family: "Dosis", sans-serif;
}
.footer__content__icon {
  font-size: 3rem;
  color: #fcbcb2;
  background-color: black;
  border-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

/*MEDIA QUERYS*/

@media (min-width: 768px) {
  html {
    font-size: 58%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  .container--header {
    position: static;
  }
  .navToggle {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    height: auto;
    position: static;
    margin-bottom: 0rem;
  }
  .nav__list {
    display: flex;
    justify-content: right;
  }
  .nav__item {
    margin: 0 0 0 2rem;
  }
  .nav__link {
    padding: 0 1.6rem;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .row--stretch {
    justify-content: stretch;
    align-items: stretch;
  }
  img,
  iframe {
    max-width: 50%;
  }
  #shipmentInformationSection__background {
    background: linear-gradient(
      to right,
      rgb(255, 255, 93),
      rgb(134, 255, 93),
      rgb(93, 255, 185),
      rgb(147, 97, 255),
      rgb(252, 135, 135)
    );
    display: flex;
    align-items: center;
  }
  #shipmentInformationSection__background__text {
    font-size: 3rem;
    line-height: 8rem;
  }
}
