/*VARIABLES*/

$primary-color: #fcbcb2;

/*SCSS*/

/*RESET*/

html {
  font-size: 50%;
}

/*BODY*/

* {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
  line-height: 4rem;
}

/*HEADER*/

header {
  background-color: $primary-color;
}

/*NAV*/

.logo {
  max-width: 15rem;
  &:hover,
  &:focus {
    background-color: #ff9191;
    border-radius: 0.5rem;
  }
}
.navbar-toggler {
  width: 5rem;
  height: 5rem;
}

/*TEXT FORMAT*/

.title {
  font-family: "Cinzel", sans-serif;
  &--mainTitle {
    font-size: 4rem;
  }
  &--subTitle1 {
    font-size: 3rem;
  }
  &--subTitle2 {
    font-size: 2rem;
  }
}

/*BUTTONS*/

.button {
  transition: all 0.1s;
  &:hover,
  &:active {
    transform: scale(1.1);
  }
  &--greenSubmitButton {
    background-color: greenyellow;
  }
  &--pinkResetButton {
    background-color: $primary-color;
  }
}

/*ANIMATIONS*/
.col {
  &--animatedLeft {
    animation: from-left 1.5s ease;
  }
  &--animatedRight {
    animation: from-right 1.5s ease;
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*MAIN OF INDEX*/

/*Introduction section*/
#introductionSection {
  background-image: url(../images/mujeres_modelando.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Best-selling products section*/
/*Se reutilizará para el html de tienda*/
.product {
  border: rgb(0, 0, 0);
  border-radius: 1.5rem;
  border-width: 0.6rem;
  border-style: dotted;
}

/*FOOTER*/
.footer {
  background-color: $primary-color;
  &__icon {
    font-size: 3rem;
    color: $primary-color;
  }
}

/*MEDIA QUERYS*/

@media (min-width: 992px) {
  html {
    font-size: 58%;
  }
  /*Shipment information section*/
  #shipmentInformationSection {
    &__background {
      background: linear-gradient(
        to right,
        rgb(255, 255, 93),
        rgb(134, 255, 93),
        rgb(93, 255, 185),
        rgb(147, 97, 255),
        rgb(252, 135, 135)
      );
    }
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
