.col {
  @each $name, $direction, $translateX in $animation {
    &--#{$name} {
      animation: $direction 1.5s ease;
    }
  }
}
@each $name, $direction, $translateX in $animation {
  @keyframes #{$direction} {
    $animationConfiguration: (0% 0 $translateX, 100% 1 0px);
    @each $percentage, $opacity, $transformTranslate in $animationConfiguration
    {
      #{$percentage} {
        opacity: $opacity;
        transform: translateX($transformTranslate);
      }
    }
  }
}
