.button {
  transition: all 0.1s;
  &:hover,
  &:active {
    transform: scale(1.1);
  }
  @each $typeOfButton, $color in $button {
    &--#{$typeOfButton} {
      @extend .button;
      background-color: $color;
    }
  }
}
