.button {
  transition: all 0.1s;
  &:hover,
  &:active {
    transform: scale(1.1);
  }
  $button: (
    "greenSubmitButton": greenyellow,
    "pinkResetButton": $primary-color,
  );
  @each $typeOfButton, $color in $button {
    &--#{$typeOfButton} {
      background-color: $color;
    }
  }
}
