#introductionSection {
  background-image: url(../images/mujeres_modelando.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@include media(992px) {
  #shipmentInformationSection {
    &__background {
      background: map-get($arcoiris, colores);
    }
  }
}
