* {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
  line-height: 4rem;
}
.title {
  font-family: "Cinzel", sans-serif;
  @each $typeOfTitle, $fontSize in $title {
    &--#{$typeOfTitle} {
      font-size: $fontSize;
    }
  }
}
